<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Welcome to <%= title %></h2>
    <p>This is simple nodejs app that uses sockets for implementing a simple chat</p>
    <a href="/chat">Run</a>
  </body>
</html>
